.banner-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    background-color:rgb(255,192,23);
    border-bottom: 1px solid black;
}

.banner-animation {
    padding-top: 3%;
    height: 100%;
}

.banner {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 8%;

}


#first {
    font-family: Charter-Bold;
    font-size: 6vw;
    margin-bottom: 0
}

#second {
    font-family: Helvetica;
    font-size: 1.6vw;
    margin-bottom: 0;
}

#third {
    font-family: Helvetica;
    font-size: 1.6vw;
    margin-top: 0;
    margin-bottom: 4%;
}

#start-reading {
    margin-top: 10%;
    height: 45px;
    width: 30%;
    font-size: 1.4rem;
    border: 3px solid black;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: 1.6vw
}

.trending-stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    row-gap: 2ch;

}

.trending-story-wrapper {
    display: flex;
    flex-direction: row;
}

.userinfo {
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 450;
    padding-bottom: 6px;
}

.storytitle {
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    padding-bottom: 8px;
}

.storydate {
    margin: 0;
    text-decoration: none;
    color: rgb(149, 149, 149);
    font-family: Helvetica;
    font-size: 12px;
    padding-bottom: 8px;
}

.trending-number {
    font-family: Helvetica;
    font-weight: 700;
    color: rgb(230,230,230);
    font-size: 28px;
    padding-right: 10px;
}

.trending-story {
    display: flex;
    flex-direction: column;
}

.trending-stories-wrapper {
    border-bottom: 1px solid rgb(217, 217, 217);
    padding-bottom: 2%;
}

.remaining-stories-wrapper {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remaining-stories-divider {
    display:flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.remaining-story {
    width: 40vw;
    min-height: 10vh;
    max-height: 10vh;
}

.remaining-stories-left {
    height: 100%;
    width: 70%;
}

.remaining-stories-right {
    overflow: hidden;
    width: 11vh;
    height: 100%;
}

.remaining-stories-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
