.biggestResponseContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.responsesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.individualResponses {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 90px;
    margin-top: -20px;
}

.responder {
    display: flex;
    flex-direction: row;
}

.responderProfile {
    font-size: 1px
}

.responderName {
    width: 20%;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 8px
}

.responseBody {
    height: 45%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px
}

.responseActions {
    justify-self: flex-end
}

.createResponse {
    margin-bottom: 100px;
    width: 100%;
    font-size: 20px;
}

.createResponseHead {
    font-size: 20px;
}

.create-response-submit {
    margin-top: 10px
}

.createResponseErrors {
    font-size: 16px
}


/* .responseTotalClaps {
    height: 40px;
    width: 40px;
    border: 5px black solid;
} */
