.allMyContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

.myStoriesContainer {
    margin-top: 10px;
    margin-left: -0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px
}

.header {
    margin-top: 20px;
    font-size: 45px;
    font-weight: bold;
}

.addStoryBtn {
    border-radius: 50%;
    margin-top: 20px;
    width: 15%;
    color: white;
    background-color: green;
    height: 40px;
    margin-right: 0px;
    cursor: pointer;
}

.story-card {
    /* border-top: 1px solid lightgray; */
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
    padding-top: 5px;
    height: 21%;
    width: 100%;
}

.storyTitle {
    margin-top: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;

}

.storyBody {
    height: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;

}

.deleteBtn {
    margin-top: 20px;
    margin-left: -5px;
    cursor: pointer;
    font-family: Helvetica;
    color: grey;
}

.editBtn {
    cursor: pointer;
    font-family: Helvetica;
    color: grey;
}

.deleteBtn:hover {
    color: black;
}

.editBtn:hover {
    color: black;
}
